body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
}

#app {
    text-align: center;
}

#image-container {
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#image-display {
    max-width: 100%;
    max-height: 100%;
}

#controls button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
}

#keep-btn {
    background-color: #4CAF50; /* Green */
}

#discard-btn {
    background-color: #f44336; /* Red */
}

#progress {
    margin-top: 20px;
    font-size: 18px;
}

#gender-selection button, #back-btn, #finished-view button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
